src/wsdl/pruebas.croydon.com.co_8080/gauss/FacturacionService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gauss.koghi.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gauss.koghi.com/" name="FacturacionService">
<types>
<xsd:schema>
<xsd:import namespace="http://gauss.koghi.com/" schemaLocation="http://pruebas.croydon.com.co:8080/Gauss/FacturacionService?xsd=1"/>
</xsd:schema>
</types>
<message name="CarAplicacionFacturas">
<part name="parameters" element="tns:CarAplicacionFacturas"/>
</message>
<message name="CarAplicacionFacturasResponse">
<part name="parameters" element="tns:CarAplicacionFacturasResponse"/>
</message>
<message name="FacConsultaEstadoCartera">
<part name="parameters" element="tns:FacConsultaEstadoCartera"/>
</message>
<message name="FacConsultaEstadoCarteraResponse">
<part name="parameters" element="tns:FacConsultaEstadoCarteraResponse"/>
</message>
<message name="FAC_CONSULTA_PLANTILLA">
<part name="parameters" element="tns:FAC_CONSULTA_PLANTILLA"/>
</message>
<message name="FAC_CONSULTA_PLANTILLAResponse">
<part name="parameters" element="tns:FAC_CONSULTA_PLANTILLAResponse"/>
</message>
<message name="FAC_ELIMINA_PLANTILLA">
<part name="parameters" element="tns:FAC_ELIMINA_PLANTILLA"/>
</message>
<message name="FAC_ELIMINA_PLANTILLAResponse">
<part name="parameters" element="tns:FAC_ELIMINA_PLANTILLAResponse"/>
</message>
<message name="FAC_GENERA_PLANTILLA_PED">
<part name="parameters" element="tns:FAC_GENERA_PLANTILLA_PED"/>
</message>
<message name="FAC_GENERA_PLANTILLA_PEDResponse">
<part name="parameters" element="tns:FAC_GENERA_PLANTILLA_PEDResponse"/>
</message>
<message name="FAC_GENERORDPED_PLANTILLA">
<part name="parameters" element="tns:FAC_GENERORDPED_PLANTILLA"/>
</message>
<message name="FAC_GENERORDPED_PLANTILLAResponse">
<part name="parameters" element="tns:FAC_GENERORDPED_PLANTILLAResponse"/>
</message>
<message name="FAC_ELIMINA_PLANTILLA_PED">
<part name="parameters" element="tns:FAC_ELIMINA_PLANTILLA_PED"/>
</message>
<message name="FAC_ELIMINA_PLANTILLA_PEDResponse">
<part name="parameters" element="tns:FAC_ELIMINA_PLANTILLA_PEDResponse"/>
</message>
<message name="FAC_CARGA_PLANTILLAS">
<part name="parameters" element="tns:FAC_CARGA_PLANTILLAS"/>
</message>
<message name="FAC_CARGA_PLANTILLASResponse">
<part name="parameters" element="tns:FAC_CARGA_PLANTILLASResponse"/>
</message>
<message name="InvConsultaDispItemBod">
<part name="parameters" element="tns:InvConsultaDispItemBod"/>
</message>
<message name="InvConsultaDispItemBodResponse">
<part name="parameters" element="tns:InvConsultaDispItemBodResponse"/>
</message>
<message name="InvConsultaItemIncentivo">
<part name="parameters" element="tns:InvConsultaItemIncentivo"/>
</message>
<message name="InvConsultaItemIncentivoResponse">
<part name="parameters" element="tns:InvConsultaItemIncentivoResponse"/>
</message>
<message name="InvConsultaItemTiendas">
<part name="parameters" element="tns:InvConsultaItemTiendas"/>
</message>
<message name="InvConsultaItemTiendasResponse">
<part name="parameters" element="tns:InvConsultaItemTiendasResponse"/>
</message>
<message name="InvConsultaDispCroydonista">
<part name="parameters" element="tns:InvConsultaDispCroydonista"/>
</message>
<message name="InvConsultaDispCroydonistaResponse">
<part name="parameters" element="tns:InvConsultaDispCroydonistaResponse"/>
</message>
<message name="FACVENDCLIENTES">
<part name="parameters" element="tns:FACVENDCLIENTES"/>
</message>
<message name="FACVENDCLIENTESResponse">
<part name="parameters" element="tns:FACVENDCLIENTESResponse"/>
</message>
<message name="FacConsultaGuia">
<part name="parameters" element="tns:FacConsultaGuia"/>
</message>
<message name="FacConsultaGuiaResponse">
<part name="parameters" element="tns:FacConsultaGuiaResponse"/>
</message>
<message name="FAC_ACTLIN">
<part name="parameters" element="tns:FAC_ACTLIN"/>
</message>
<message name="FAC_ACTLINResponse">
<part name="parameters" element="tns:FAC_ACTLINResponse"/>
</message>
<message name="FAC_ACTPED">
<part name="parameters" element="tns:FAC_ACTPED"/>
</message>
<message name="FAC_ACTPEDResponse">
<part name="parameters" element="tns:FAC_ACTPEDResponse"/>
</message>
<message name="FACPRECIOSEL">
<part name="parameters" element="tns:FACPRECIOSEL"/>
</message>
<message name="FACPRECIOSELResponse">
<part name="parameters" element="tns:FACPRECIOSELResponse"/>
</message>
<message name="FAC_CONINI">
<part name="parameters" element="tns:FAC_CONINI"/>
</message>
<message name="FAC_CONINIResponse">
<part name="parameters" element="tns:FAC_CONINIResponse"/>
</message>
<message name="FAC_CONLOT">
<part name="parameters" element="tns:FAC_CONLOT"/>
</message>
<message name="FAC_CONLOTResponse">
<part name="parameters" element="tns:FAC_CONLOTResponse"/>
</message>
<message name="FAC_CONPED">
<part name="parameters" element="tns:FAC_CONPED"/>
</message>
<message name="FAC_CONPEDResponse">
<part name="parameters" element="tns:FAC_CONPEDResponse"/>
</message>
<message name="FAC_CONLIQP">
<part name="parameters" element="tns:FAC_CONLIQP"/>
</message>
<message name="FAC_CONLIQPResponse">
<part name="parameters" element="tns:FAC_CONLIQPResponse"/>
</message>
<message name="FAC_CONPEDHIST">
<part name="parameters" element="tns:FAC_CONPEDHIST"/>
</message>
<message name="FAC_CONPEDHISTResponse">
<part name="parameters" element="tns:FAC_CONPEDHISTResponse"/>
</message>
<message name="FAC_CONINIP">
<part name="parameters" element="tns:FAC_CONINIP"/>
</message>
<message name="FAC_CONINIPResponse">
<part name="parameters" element="tns:FAC_CONINIPResponse"/>
</message>
<message name="FAC_CONDIR">
<part name="parameters" element="tns:FAC_CONDIR"/>
</message>
<message name="FAC_CONDIRResponse">
<part name="parameters" element="tns:FAC_CONDIRResponse"/>
</message>
<message name="FAC_CONSGRU">
<part name="parameters" element="tns:FAC_CONSGRU"/>
</message>
<message name="FAC_CONSGRUResponse">
<part name="parameters" element="tns:FAC_CONSGRUResponse"/>
</message>
<message name="FAC_CONGRU">
<part name="parameters" element="tns:FAC_CONGRU"/>
</message>
<message name="FAC_CONGRUResponse">
<part name="parameters" element="tns:FAC_CONGRUResponse"/>
</message>
<message name="FAC_CONSUC">
<part name="parameters" element="tns:FAC_CONSUC"/>
</message>
<message name="FAC_CONSUCResponse">
<part name="parameters" element="tns:FAC_CONSUCResponse"/>
</message>
<message name="FAC_CONPEDINI">
<part name="parameters" element="tns:FAC_CONPEDINI"/>
</message>
<message name="FAC_CONPEDINIResponse">
<part name="parameters" element="tns:FAC_CONPEDINIResponse"/>
</message>
<message name="FAC_CONDET">
<part name="parameters" element="tns:FAC_CONDET"/>
</message>
<message name="FAC_CONDETResponse">
<part name="parameters" element="tns:FAC_CONDETResponse"/>
</message>
<message name="GES_MENIND">
<part name="parameters" element="tns:GES_MENIND"/>
</message>
<message name="GES_MENINDResponse">
<part name="parameters" element="tns:GES_MENINDResponse"/>
</message>
<message name="FAC_TOTPED">
<part name="parameters" element="tns:FAC_TOTPED"/>
</message>
<message name="FAC_TOTPEDResponse">
<part name="parameters" element="tns:FAC_TOTPEDResponse"/>
</message>
<message name="FAC_ELIMPED">
<part name="parameters" element="tns:FAC_ELIMPED"/>
</message>
<message name="FAC_ELIMPEDResponse">
<part name="parameters" element="tns:FAC_ELIMPEDResponse"/>
</message>
<portType name="Facturacion">
<operation name="CarAplicacionFacturas">
<input wsam:Action="http://gauss.koghi.com/Facturacion/CarAplicacionFacturasRequest" message="tns:CarAplicacionFacturas"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/CarAplicacionFacturasResponse" message="tns:CarAplicacionFacturasResponse"/>
</operation>
<operation name="FacConsultaEstadoCartera">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FacConsultaEstadoCarteraRequest" message="tns:FacConsultaEstadoCartera"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FacConsultaEstadoCarteraResponse" message="tns:FacConsultaEstadoCarteraResponse"/>
</operation>
<operation name="FAC_CONSULTA_PLANTILLA">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONSULTA_PLANTILLARequest" message="tns:FAC_CONSULTA_PLANTILLA"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONSULTA_PLANTILLAResponse" message="tns:FAC_CONSULTA_PLANTILLAResponse"/>
</operation>
<operation name="FAC_ELIMINA_PLANTILLA">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_ELIMINA_PLANTILLARequest" message="tns:FAC_ELIMINA_PLANTILLA"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_ELIMINA_PLANTILLAResponse" message="tns:FAC_ELIMINA_PLANTILLAResponse"/>
</operation>
<operation name="FAC_GENERA_PLANTILLA_PED">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_GENERA_PLANTILLA_PEDRequest" message="tns:FAC_GENERA_PLANTILLA_PED"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_GENERA_PLANTILLA_PEDResponse" message="tns:FAC_GENERA_PLANTILLA_PEDResponse"/>
</operation>
<operation name="FAC_GENERORDPED_PLANTILLA">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_GENERORDPED_PLANTILLARequest" message="tns:FAC_GENERORDPED_PLANTILLA"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_GENERORDPED_PLANTILLAResponse" message="tns:FAC_GENERORDPED_PLANTILLAResponse"/>
</operation>
<operation name="FAC_ELIMINA_PLANTILLA_PED">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_ELIMINA_PLANTILLA_PEDRequest" message="tns:FAC_ELIMINA_PLANTILLA_PED"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_ELIMINA_PLANTILLA_PEDResponse" message="tns:FAC_ELIMINA_PLANTILLA_PEDResponse"/>
</operation>
<operation name="FAC_CARGA_PLANTILLAS">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CARGA_PLANTILLASRequest" message="tns:FAC_CARGA_PLANTILLAS"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CARGA_PLANTILLASResponse" message="tns:FAC_CARGA_PLANTILLASResponse"/>
</operation>
<operation name="InvConsultaDispItemBod">
<input wsam:Action="http://gauss.koghi.com/Facturacion/InvConsultaDispItemBodRequest" message="tns:InvConsultaDispItemBod"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/InvConsultaDispItemBodResponse" message="tns:InvConsultaDispItemBodResponse"/>
</operation>
<operation name="InvConsultaItemIncentivo">
<input wsam:Action="http://gauss.koghi.com/Facturacion/InvConsultaItemIncentivoRequest" message="tns:InvConsultaItemIncentivo"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/InvConsultaItemIncentivoResponse" message="tns:InvConsultaItemIncentivoResponse"/>
</operation>
<operation name="InvConsultaItemTiendas">
<input wsam:Action="http://gauss.koghi.com/Facturacion/InvConsultaItemTiendasRequest" message="tns:InvConsultaItemTiendas"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/InvConsultaItemTiendasResponse" message="tns:InvConsultaItemTiendasResponse"/>
</operation>
<operation name="InvConsultaDispCroydonista">
<input wsam:Action="http://gauss.koghi.com/Facturacion/InvConsultaDispCroydonistaRequest" message="tns:InvConsultaDispCroydonista"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/InvConsultaDispCroydonistaResponse" message="tns:InvConsultaDispCroydonistaResponse"/>
</operation>
<operation name="FACVENDCLIENTES">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FACVENDCLIENTESRequest" message="tns:FACVENDCLIENTES"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FACVENDCLIENTESResponse" message="tns:FACVENDCLIENTESResponse"/>
</operation>
<operation name="FacConsultaGuia">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FacConsultaGuiaRequest" message="tns:FacConsultaGuia"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FacConsultaGuiaResponse" message="tns:FacConsultaGuiaResponse"/>
</operation>
<operation name="FAC_ACTLIN">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_ACTLINRequest" message="tns:FAC_ACTLIN"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_ACTLINResponse" message="tns:FAC_ACTLINResponse"/>
</operation>
<operation name="FAC_ACTPED">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_ACTPEDRequest" message="tns:FAC_ACTPED"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_ACTPEDResponse" message="tns:FAC_ACTPEDResponse"/>
</operation>
<operation name="FACPRECIOSEL">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FACPRECIOSELRequest" message="tns:FACPRECIOSEL"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FACPRECIOSELResponse" message="tns:FACPRECIOSELResponse"/>
</operation>
<operation name="FAC_CONINI">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONINIRequest" message="tns:FAC_CONINI"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONINIResponse" message="tns:FAC_CONINIResponse"/>
</operation>
<operation name="FAC_CONLOT">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONLOTRequest" message="tns:FAC_CONLOT"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONLOTResponse" message="tns:FAC_CONLOTResponse"/>
</operation>
<operation name="FAC_CONPED">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONPEDRequest" message="tns:FAC_CONPED"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONPEDResponse" message="tns:FAC_CONPEDResponse"/>
</operation>
<operation name="FAC_CONLIQP">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONLIQPRequest" message="tns:FAC_CONLIQP"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONLIQPResponse" message="tns:FAC_CONLIQPResponse"/>
</operation>
<operation name="FAC_CONPEDHIST">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONPEDHISTRequest" message="tns:FAC_CONPEDHIST"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONPEDHISTResponse" message="tns:FAC_CONPEDHISTResponse"/>
</operation>
<operation name="FAC_CONINIP">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONINIPRequest" message="tns:FAC_CONINIP"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONINIPResponse" message="tns:FAC_CONINIPResponse"/>
</operation>
<operation name="FAC_CONDIR">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONDIRRequest" message="tns:FAC_CONDIR"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONDIRResponse" message="tns:FAC_CONDIRResponse"/>
</operation>
<operation name="FAC_CONSGRU">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONSGRURequest" message="tns:FAC_CONSGRU"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONSGRUResponse" message="tns:FAC_CONSGRUResponse"/>
</operation>
<operation name="FAC_CONGRU">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONGRURequest" message="tns:FAC_CONGRU"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONGRUResponse" message="tns:FAC_CONGRUResponse"/>
</operation>
<operation name="FAC_CONSUC">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONSUCRequest" message="tns:FAC_CONSUC"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONSUCResponse" message="tns:FAC_CONSUCResponse"/>
</operation>
<operation name="FAC_CONPEDINI">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONPEDINIRequest" message="tns:FAC_CONPEDINI"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONPEDINIResponse" message="tns:FAC_CONPEDINIResponse"/>
</operation>
<operation name="FAC_CONDET">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONDETRequest" message="tns:FAC_CONDET"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_CONDETResponse" message="tns:FAC_CONDETResponse"/>
</operation>
<operation name="GES_MENIND">
<input wsam:Action="http://gauss.koghi.com/Facturacion/GES_MENINDRequest" message="tns:GES_MENIND"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/GES_MENINDResponse" message="tns:GES_MENINDResponse"/>
</operation>
<operation name="FAC_TOTPED">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_TOTPEDRequest" message="tns:FAC_TOTPED"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_TOTPEDResponse" message="tns:FAC_TOTPEDResponse"/>
</operation>
<operation name="FAC_ELIMPED">
<input wsam:Action="http://gauss.koghi.com/Facturacion/FAC_ELIMPEDRequest" message="tns:FAC_ELIMPED"/>
<output wsam:Action="http://gauss.koghi.com/Facturacion/FAC_ELIMPEDResponse" message="tns:FAC_ELIMPEDResponse"/>
</operation>
</portType>
<binding name="FacturacionPortBinding" type="tns:Facturacion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CarAplicacionFacturas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FacConsultaEstadoCartera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_CONSULTA_PLANTILLA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_ELIMINA_PLANTILLA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_GENERA_PLANTILLA_PED">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_GENERORDPED_PLANTILLA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_ELIMINA_PLANTILLA_PED">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_CARGA_PLANTILLAS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InvConsultaDispItemBod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InvConsultaItemIncentivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InvConsultaItemTiendas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InvConsultaDispCroydonista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FACVENDCLIENTES">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FacConsultaGuia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_ACTLIN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_ACTPED">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FACPRECIOSEL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_CONINI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_CONLOT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_CONPED">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_CONLIQP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_CONPEDHIST">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_CONINIP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_CONDIR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_CONSGRU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_CONGRU">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_CONSUC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_CONPEDINI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_CONDET">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GES_MENIND">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_TOTPED">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FAC_ELIMPED">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FacturacionService">
<port name="FacturacionPort" binding="tns:FacturacionPortBinding">
<soap:address location="http://pruebas.croydon.com.co:8080/Gauss/FacturacionService"/>
</port>
</service>
</definitions>